@font-face {
    font-family: "Open Sans";
    src: url("fonts/opensans.woff") format("woff"),
        url("fonts/opensans.woff2") format("woff2");
}

@font-face {
    font-family: "Open Sans Bold";
    src: url("fonts/opensansbold.woff") format("woff"),
        url("fonts/opensansbold.woff2") format("woff2");
}

@font-face {
    font-family: "Icomoon";
    src: url("fonts/icomoon.woff") format("woff");
}

@font-face {
    font-weight: normal;
    font-family: 'icomoon';
    font-style: normal;
    font-display: swap;
    src: url('../fonts/icomoon.woff');
}