.galery {
  min-height: 540px;
  padding-top: 55px;
  display: flex;
  overflow-x: auto;
}

.galery-card + .galery-card {
  margin-left: 3px;
}

.galery-card:nth-child(2n) {
  .galery-card__img--lg {
    order: 2;
    margin-top: 3px;
  }
}

.galery-card {
  display: flex;
  flex-direction: column;

  &__img {
    overflow: hidden;

    &--s {
      width: 175px;
      height: 175px;
      background: $ligthGrey;
    }

    &--lg {
      width: 354px;
      height: 354px;
      background: $ligthGrey;
      margin-bottom: 3px;
    }
  }

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  img {
    display: block;
    width: 100%;
    height: auto
  }
}