.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 20px;
  position: absolute;
  right: 0;
  left: 0;
  max-width: 1320px;
  margin: auto;

  @media (max-width: 1439px) {
    max-width: 930px;
  }

  @media (max-width: 960px) {
    max-width: 710px;
  }

  @media (max-width: 768px) {
    flex-direction: column;

    div + div {
      margin-top: 70px;
    }
  }

  .wrapper {
    display: flex;
    justify-content: flex-start;

    @media (max-width: 768px) {
      width: 100%;
      justify-content: space-between;
    }

    div + nav {
      margin-left: 40px;
    }
  }
}

.logoHolder {
  width: 50px;
  height: 50px;
  background: url('/img/layers.svg');
  background-repeat: no-repeat;
}
