.glow {
  display: inline-block;
  transition-duration: 0.3s;
  transition-property: box-shadow;
  transform: translateZ(0);
}

.glow:hover {
  box-shadow: 0 0 8px $darkGrey;
}

.grow {
  display: inline-flex;
  transition-duration: 0.3s;
  transition-property: transform;
  transform: translateZ(0);

  &:hover {
    transform: scale(1.1);
  }
}
