.jumbotron {
  background: url('../img/bg.png') no-repeat;
  background-size: cover;
  padding-top: 270px;
  margin-top: -70px;

  .title--lg,
  .title--s {
    color: $white;
  }

  &-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

    &__item {
      max-width: 170px;
      min-height: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $white;
      cursor: pointer;

      &:hover {
        color: $baseBlue;
      }

      div + div {
        margin-top: 20px;
        text-align: center;
      }
    }

    &__item + &__item {
      margin-left: 70px;
    }
  }

  .iconHolder {
    &-clock {
      background: url(/img/clock.svg);
    }

    &-star {
      background: url(/img/star.svg);
    }

    &-music {
      background: url(/img/music-player.svg);
    }

    &-house {
      background: url(/img/house.svg);
    }
  }
}
