.jumbotron {
  background: url('../img/bg.png') no-repeat;
  background-size: cover;
  border-bottom: 1px solid $ligthGrey;
  padding-top: 255px;
  padding-bottom: 30px;
  margin-top: -70px;

  @media (max-width: 768px) {
    margin-top: -176px;
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
    color: $white;
    font-family: 'museo700', Arial, Helvetica, sans-serif;
    font-size: 44px;
  }

  &__title--alt {
    font-family: 'museo300', Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-bottom: 120px;
  }

  &-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 880px;
    margin: 0 auto;
    justify-content: space-between;

    &__item {
      max-width: 190px;
      min-height: 150px;
      color: $white;
      cursor: pointer;
      text-align: center;
      transition:all 0.3s ease;

      &:hover {
        color: $baseBlue;
        opacity: .9;
      }
    }

    &__title {
      font-family: 'museo500', Arial, Helvetica, sans-serif;
      font-size: 18px;
    }
  }

  .iconHolder {
    width: 90px;
    height: 90px;
    margin: 0 auto 15px;

    &-clock {
      background: url(/img/clock.svg);
    }

    &-star {
      background: url(/img/star.svg);
    }

    &-music {
      background: url(/img/music-player.svg);
    }

    &-house {
      background: url(/img/house.svg);
    }
  }
}

