.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;

  &__item {
    padding: 18px;
  }

  &__link {
    font-size: 16px;
    font-family: "museo500", Arial, Helvetica, sans-serif;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: $baseBlue;
    }
  }
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
